/*GERAL*/

.bg-white {
    background-color: #fff;
}

.btn-lg {
    font-size: 1.5rem;
}

.navbar-brand {
    width: 150px;
}

.navbar-ofertz {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.teatro {
    padding-top: 106px;
}


/*Danger: Vermelhos: #8d1913 / #9e1916 / #ad1c1c */

.bg-danger {
    background-color: #ad1c1c !important;
}

.btn-danger {
    background-color: #ad1c1c;
    border-color: #ad1c1c;
}

.btn-danger:hover {
    background-color: #8d1913;
    border-color: #8d1913;
}

.bg-hemotify {
    background-color: #cf0600!important;
    border-color: #cf0600!important;
    color: white;
    font-size: 2rem;
}

.btn-outline-danger {
    color: #ad1c1c;
    border-color: #ad1c1c;
}

.btn-outline-danger:hover {
    background-color: #ad1c1c;
    border-color: #ad1c1c;
}

#foto {
    background: lightgrey;
    border: 5px solid lightgrey;
    border-radius: .25rem;
    max-width: 500px;
}

.foto {
    max-width: 515px;
}

.foto-mobile-dash {
    max-height: 300px;
}

.foto-bg-dash {
    background-color: #555555;
}

.invalid-feedback {
    display: block;
}

.nav-btn {
    color: #1d2124 !important;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #9e1916 !important;
    text-decoration: none!important;
}

.text-danger {
    color: #9e1916 !important;
}

.text-gray {
    color: #c6ccd2;
}


/*END GERAL*/


/**/


/*LOGIN / CADASTRO*/

.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}


/*END LOGIN / CADASTRO*/


/*DASHBOARD*/

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}

.breadcrumb-item a {
    color: #2d3339!important;
}

.btn-menu {
    text-align: left;
    padding: .7rem 1.7rem;
    border-radius: 0;
    background: none;
    color: #c6ccd2;
    font-size: .925rem;
    font-weight: bold;
    margin-top: 0!important;
}

.btn-menu:hover,
.btn-menu:focus {
    color: white;
    border-top: 2px solid #2d3339;
    border-bottom: 2px solid #2d3339!important;
    background-color: #22262a;
}

.card-menu-profile {
    background-color: #2d3339;
    border-radius: 0;
    border: none;
    color: #c6ccd2;
    font-size: .925rem;
    font-weight: bold;
}

.card-menu-profile:hover {
    background-color: #22262a;
    color: #f1f2f4;
    border-top: 2px solid #2d3339;
    border-bottom: 2px solid #2d3339!important;
}

.card-menu-profile .nav-link {
    color: #c6ccd2;
    font-size: .9rem;
    padding-left: 2.5rem;
}

.card-menu-profile .nav-item:hover {
    background-color: #171a1c;
}

.copyright {
    border-top: 2px solid #2d3339;
    border-right: 2px solid #2d3339;
}

.dash {
    padding-left: 230px;
}

.dash-body {
    background-color: #e3e6e8;
}

.dash-spinner,
.dash-spinner2 {
    display: none;
}

.editor-container {
    width: 100%;
    max-height: 385px;
    overflow: hidden;
}

.f-input-cidade {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.fa-chevron-down {
    float: right;
}

.form-celular-option1 {
    max-width: 80px;
    border-radius: 0.25rem 0 0 0.25rem;
    overflow-x: hidden;
    word-spacing: 15px!important;
}

.form-celular-option2 {
    border-radius: 0 0.25rem 0.25rem 0;
}

.foto-container {
    max-width: 500px;
    overflow: hidden;
}

.foto-container1 {
    max-width: 440px;
}

.foto-container2 {
    max-width: 200px;
}

.foto-cidade {
    height: 250px;
    width: auto;
}

.foto-container:hover,
.foto-container1:hover,
.foto-container2:hover {
    background-color: #e2e6ea;
}

.foto-dash {
    max-height: 300px;
    width: auto;
}

.horario {
    max-width: 50%!important;
}

.card .foto-container {
    cursor: pointer;
}

#menu {
    max-width: 230px;
    width: 230px;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

#menu-scroll {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.menu-logo {
    background-color: #171a1c;
    padding-bottom: 1.17rem!important;
    padding-top: 1.17rem!important
}

.menu-logo-img {
    max-width: 150px;
}

#resetEditor,
#resetEditor2 {
    display: none;
}

.table-actions {
    width: 155px!important;
    min-width: 155px!important;
}

.table-img {
    width: 70px!important;
}

.table-responsive {
    border: 1px solid lightgrey;
    border-radius: .25rem;
}

.zoom {
    position: relative;
    top: -47px;
    font-size: 1.5rem;
    cursor: pointer;
}

.zoomRow,
.zoomRow2 {
    opacity: 0;
}


/*SCROLLBAR*/


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #222;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #3490dc;
    border-radius: 7px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3490dc;
}


/*RANGE*/

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #343a40;
}

input[type=range]::-moz-range-thumb {
    background: #343a40;
}

input[type=range]::-ms-thumb {
    background: #343a40;
}


/*END DASHBOARD*/


/**/


/*RESPONSIVE*/


/*Tablet*/

@media only screen and (max-width: 767px) {
    /*GERAL*/
    .navbar-brand {
        width: 110px;
    }
    .teatro {
        padding-top: 170px;
    }
    /*END GERAL*/
    /*DASHBOARD*/
    .dash {
        padding-left: 0px;
    }
    #menu {
        transition: 1s;
        top: -100vh;
        max-width: 100vw;
        width: 100vw;
    }
    .btn-menu,
    .card-menu-profile {
        font-size: 1.125rem;
    }
    .card-menu-profile .nav-link {
        font-size: 1rem;
    }
}


/*END Tablet*/


/**/


/*Phone*/

@media only screen and (max-width: 575px) {
    /*GERAL*/
    h2 {
        font-size: 1.7rem;
    }
    .btn-lg {
        font-size: 1.3rem;
    }
    .select-cidade {
        max-width: 152px;
    }
}


/*END Phone*/